{% extends "main/base-generation.html" %}
{% load static %}

{% block title %}<title>Вход в аккаунт</title>{% endblock %}

{% block content %}
<div class="login__wrapper">
    <div class="login">
        <h1 class="login__title">Авторизация</h1>
        {% if form.errors %}
        <div class="login__error">Имя пользователя или пароль были введены неправильно</div>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <div class="login__error">Вы уже авторизованы</div>
        {% endif %}
        {% endif %}

        {% block sidebar %}{% endblock %}

        <form class="login-form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {% for field in form %}
            <div class="login-form__input-block">
                <div class="login-form__label">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            </div>
            {% endfor %}

            <input value="Войти" class="login-form__submit" type="submit">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <a href="{% url 'registration' %}" class="login__register-link">Регистрация</a>
    </div>
</div> 
{% endblock %}