{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d8af9cd0e.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block title %}<title>Document</title>{% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block sidebar %}
        {% if user.is_authenticated %}
        <a href="{% url 'create_consumption' %}" class="nav__create-consumption" id="create-consumption-mobile-button">
            <span>+</span>
        </a>
        <div class="nav__open-button">
            <div class="trigram" id="trigram">
                <div class="trigram__line"></div>
                <div class="trigram__line"></div>
                <div class="trigram__line"></div>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="nav__item"><a href="{% url 'monthly_report' %}">Отчет за последние 30 дней</a></li>
                <li class="nav__item"><a href="{% url 'full_report' %}">Отчет за все время</a></li>
                <li id="create-consumption-text-button" class="nav__item"><a
                        href="{% url 'create_consumption' %}">Добавить расход</a></li>
            </ul>

            <a href="{% url 'logout' %}?next=/" class="nav__logout-button">Выйти</a>
        </nav>
        {% else %}
        <main class="page-placeholder__wrapper">
            <div class="page-placeholder">
                <div class="page-placeholder__title">У вас уже есть аккаунт?</div>
                <div class="page-placeholder__buttons-wrapper">
                    <a class="page-placeholder__button" href="{% url 'registration' %}?next={{request.path}}">Нет</a>
                    <a class="page-placeholder__button" href="{% url 'login' %}?next={{request.path}}">Да</a>
                </div>
            </div>
        </main>
        {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        <div class="body-shadow" id="body-shadow"></div>
        <script src="{% static 'base.bundle.js' %}"></script>
    </div>
</body>

</html>