{% extends 'main/base-generation.html' %}

{% load static %}

{% block title %}<title>Добавление расхода</title>{% endblock %}

{% block content %}


{% if user.is_authenticated %}

<main class="create-consumption">
    <form enctype="multipart/form-data" method="POST" class="create-consumption-form create-consumption__form">
        {% csrf_token %}
        <div class="create-consumption-form__input-block">
            <div class="create-consumption-form__label">
                Название
            </div>
            {{form.name}}
        </div>
        <div class="create-consumption-form__input-block">
            <div class="create-consumption-form__label">
                Категория
            </div>
            {{form.category}}
        </div>
        <div class="create-consumption-form__input-block">
            <div class="create-consumption-form__label">
                Потрачено (руб)
            </div>
            {{form.amount}}
        </div>
        <div class="create-consumption-form__input-block">
            <div class="create-consumption-form__label">
                По 10-и бальной шкале, насколько данная трата была целесообразна?
            </div>
            {{form.rating}}
        </div>
        <input value="Добавить" type="submit" class="create-consumption-form__submit">
    </form>
</main>

{% endif %}
{% endblock %}