{% extends 'main/base-generation.html' %}

{% load static %}

{% block title %}<title>Title</title>{% endblock %}

{% block content %}


{% if user.is_authenticated %}
{% if not zero_consumptions %}
<div class="index-page">
    <ul class="consumption-list">
        <div class="consumption-list__header">Последние 10 расходов</div>
        {% for item in last_10_consumption %}
        <li class="consumption-list__item">
            <div class="consumption-list__string"><span class="consumption-list__amount">{{item.amount}}руб</span>, {{item.name}}, Категория: {{item.category}}, {{item.date}}</div>
            <a href="{% url 'delete_consumption' pk=item.pk %}">Удалить</a>
        </li>
        {% endfor %}
    </ul>
    <div class="last-consumption">
        <div class="index-page__header">Последний расход</div>
        <div class="index-page__amount">{{last_consumption.amount}} руб.</div>
        <div class="index-page__name">{{last_consumption.name}}</div>
        <div class="index-page__category"> Категория: {{last_consumption.category}}</div>
    </div>
    <div class="consumption-amount-24h">
        <div class="index-page__header">Всего потрачено за последние 24 часа</div>
        <div class="index-page__amount">{{consumption_amount_24h}} руб.</div>
    </div>

    {% else %}
    Вы пока-что не записали ни одного расхода!
    {% endif %}
</div>
{% endif %}
{% endblock %}