{% extends 'main/base-generation.html' %}

{% load static %}

{% block title %}<title>Отчет</title>{% endblock %}

{% block content %}


{% if user.is_authenticated %}
{% if not zero_consumptions %}

<div class="report-page">

    <svg width="20%" height="20%" viewBox="0 0 42 42" class="diagram">
        <circle class="diagram-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
        <circle class="diagram-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4"
            stroke-width="3"></circle>
        <circle id="property" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#000CF6" stroke-width="3" stroke-dasharray="80 20" stroke-dashoffset="25"></circle>
        <circle id="health" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#F6230C" stroke-width="3"></circle>
        <circle id="presents" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#F600B4" stroke-width="3"></circle>
        <circle id="travel" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#EEF600" stroke-width="3"></circle>
        <circle id="personal" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#00F615" stroke-width="3"></circle>
        <circle id="clothes" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#F6A548" stroke-width="3"></circle>
        <circle id="food" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#B3A9F6" stroke-width="3"></circle>
        <circle id="help" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#F66579" stroke-width="3"></circle>
        <circle id="personal_transport" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#A4ACF6" stroke-width="3"></circle>
        <circle id="public_transport" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#9AF696" stroke-width="3"></circle>
        <circle id="other" class="diagram-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
            stroke="#000000" stroke-width="3"></circle>
    </svg>

    <div class="report-page__header">Потрачено за последние 30 дней</div>
    <div class="report-page__amount">{{consumption_amount_30d}} руб.</div>

    <div class="report-page__header">Текущий рейтинг эффективности трат</div>
    <div class="report-page__amount">{{efficiency_score}} из 10</div>

    <ul hidden>
        {% for percent in percents %}
        <li class="hidden-diagram-percent">{{percent}}</li>
        {% endfor %}
    </ul>

    <div class="categories__wrapper">
        <ul class="categories__colors-list">
            <li style="color:#000CF6;" class="categories__color">■</li>
            <li style="color:#F6230C;" class="categories__color">■</li>
            <li style="color:#F600B4;" class="categories__color">■</li>
            <li style="color:#EEF600;" class="categories__color">■</li>
            <li style="color:#00F615;" class="categories__color">■</li>
            <li style="color:#F6A548;" class="categories__color">■</li>
            <li style="color:#B3A9F6;" class="categories__color">■</li>
            <li style="color:#F66579;" class="categories__color">■</li>
            <li style="color:#A4ACF6;" class="categories__color">■</li>
            <li style="color:#9AF696;" class="categories__color">■</li>
            <li style="color:#000000;" class="categories__color">■</li>
        </ul>
        <ul class="categories">
            {% for category in categories_ru %}
            <li class="categories__item">{{category}}%</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{% static 'report.bundle.js' %}"></script>
{% else %}
Вы пока-что не записали ни одного расхода!
{% endif %}
{% endif %}
{% endblock %}